/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

#ifdef XPPatch
#define DS_SHELLFONT (DS_SETFONT | DS_FIXEDSYS)
#endif

100 DIALOGEX DISCARDABLE  0, 0, 249, 61
#ifdef XPPatch
STYLE DS_MODALFRAME | DS_NOFAILCREATE | DS_CENTER | DS_SHELLFONT | WS_VISIBLE |
    WS_CAPTION | WS_SYSMENU
CAPTION "ES_PASSWORD"
FONT 8, "MS Shell Dlg"
#else
STYLE DS_MODALFRAME | DS_NOFAILCREATE | DS_CENTER | WS_VISIBLE | WS_CAPTION |
    WS_SYSMENU
CAPTION "ES_PASSWORD"
FONT 8, "MS Sans Serif"
#endif
BEGIN
    EDITTEXT        110,10,10,229,14,ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON      "Close",120,90,37,65,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

1	24	"manifest.xml"