#define MANIFEST 24
#define IDD_MAIN_DLG 100
#define IDC_LV 105
#define IDC_RBN1 122
#define IDC_EDT2 114
#define IDC_STC7 116
#define IDC_EDT3 117
#define IDC_UDN1 118
#define IDC_STC 119
#define IDC_EDT 121
#define IDC_UDN2 120
#define IDC_RBN 123
#define IDC_EDT4 124
#define IDC_BTN2 125
#define IDC_BTN_CLOSE 104
#define IDC_BTN1 110
#define IDC_BTN_ABOUT 103
#define IDC_STC_BANNER 101
#define IDC_STC_DEVIDER 102
#define IDC_STC4 111
#define IDC_SBR1 112
#define IDR_VERSION 1
#define IDD_ABOUT_DLG 200
#define IDC_OK 201
#define IDC_STC6 202
#define IDC_ANI1 203
#define IDC_STC8 204

IDD_MAIN_DLG DIALOGEX 6,5,189,228
CAPTION "IDD_DLG"
FONT 8,"Tahoma",0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER|DS_SETFONT
BEGIN
  CONTROL "",IDC_LV,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_SORTASCENDING|LVS_SHOWSELALWAYS|LVS_REPORT,4,49,178,74,WS_EX_CLIENTEDGE
  CONTROL "&BruteForce",IDC_RBN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,4,129,52,9
  CONTROL "",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,52,127,130,13,WS_EX_CLIENTEDGE
  CONTROL "&min. length:",IDC_STC7,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,10,149,38,9
  CONTROL "",IDC_EDT3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_RIGHT,52,147,40,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_UDN1,"msctls_updown32",WS_CHILDWINDOW|WS_VISIBLE|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,94,147,11,15
  CONTROL "ma&x. length:",IDC_STC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,92,149,48,9
  CONTROL "6",IDC_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_RIGHT,142,147,40,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_UDN2,"msctls_updown32",WS_CHILDWINDOW|WS_VISIBLE|UDS_AUTOBUDDY|UDS_ALIGNRIGHT|UDS_SETBUDDYINT,182,147,11,15
  CONTROL "&File",IDC_RBN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,4,169,24,9
  CONTROL "",IDC_EDT4,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,32,168,122,13,WS_EX_CLIENTEDGE
  CONTROL "&Open",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,158,168,28,15
  CONTROL "&Go",IDC_BTN_CLOSE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_DEFPUSHBUTTON,63,195,58,15
  CONTROL "&Cancel",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,129,195,58,15
  CONTROL "&About",IDC_BTN_ABOUT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,158,1,28,13
  CONTROL "IDC_STC",IDC_STC_BANNER,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,0,0,190,43
  CONTROL "",IDC_STC_DEVIDER,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SUNKEN,-4,44,194,1
  CONTROL "",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SUNKEN,2,189,184,2
  CONTROL "",IDC_SBR1,"msctls_statusbar32",WS_CHILDWINDOW|WS_VISIBLE|CCS_BOTTOM,0,220,190,12
END

1 ICON DISCARDABLE "1.ico"
2 ICON DISCARDABLE "3.ico"
3 ICON DISCARDABLE "4.ico"
4 ICON DISCARDABLE "6.ico"
5 ICON DISCARDABLE "6.ico"
1 AVI DISCARDABLE "goeye.avi"
6 ICON DISCARDABLE "user.ico"

1 MANIFEST "manifest.xml"

STRINGTABLE DISCARDABLE
BEGIN
END

IDR_VERSION VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileVersion", "1, 0, 0, 0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
      VALUE "CompanyName", "Your Name\0"
      VALUE "FileDescription", "Recovers passwords of Windows NT machines\0"
      VALUE "InternalName", "PasswordRecover\0"
      VALUE "LegalCopyright", "Copyright\0"
      VALUE "OriginalFilename", "PasswordRecover.exe\0"
      VALUE "ProductName", "PasswordRecover\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

IDD_ABOUT_DLG DIALOGEX 6,5,208,127
CAPTION "About"
FONT 8,"MS Sans Serif",0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "&OK",IDC_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,144,108,58,15
  CONTROL "",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SUNKEN,38,7,166,91
  CONTROL "#1",IDC_ANI1,"SysAnimate32",WS_CHILDWINDOW|WS_VISIBLE|ACS_AUTOPLAY,8,7,20,20
  CONTROL "",IDC_STC8,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SUNKEN,0,103,204,1
END






