/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
200                     ICON    DISCARDABLE     "statusbar.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//
1	24	"manifest.xml"
