#define IDI_NICO          101
#define IDI_DOWN          102
#define IDI_BASE          103
#define IDC_DRAG          104
#define IDC_LINK          105
#define IDD_MAIN          106
#define IDC_TEXTTARGET    1001
#define IDC_SELECT        1002
#define IDC_TEXTCLASS     1003
#define IDC_TEXTHANDLE    1004
#define IDC_CLASS         1005
#define IDC_HANDLE        1006
#define IDC_DAY           1009
#define IDC_MONTH         1010
#define IDC_YEAR          1011
#define IDC_HOUR          1012
#define IDC_MINUTE        1013
#define IDC_SECOND        1014
#define IDC_TEXTDATE      1016
#define IDC_TEXTTIME      1017
#define IDC_CLOSETARGET   1018
#define IDC_CLOSESELF     1019
#define IDC_START         1020
#define IDC_STOP          1021
#define IDC_EXIT          1022
#define IDS_INVALIDHANDLE 1
#define IDS_TIMEEXPIRED   2
#define IDS_INVALIDTIME   3
#define IDS_WNDNOWINVALID 4

IDI_NICO ICON DISCARDABLE "Win.ico"
IDI_DOWN ICON DISCARDABLE "IconDown.ico"
IDI_BASE ICON DISCARDABLE "IconBase.ico"

IDC_DRAG CURSOR DISCARDABLE "CursDrag.cur"
IDC_LINK CURSOR DISCARDABLE "CursLink.cur"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0x0L
 FILEOS         0x40004L
 FILETYPE       0x1L
 FILESUBTYPE    0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040704b0"
    BEGIN
      VALUE "FileDescription", "Small tool to delay pressing a button\0"
      VALUE "FileVersion", "1.0\0"
      VALUE "LegalCopyright", "Copyright © 2025 Your Name\0"
      VALUE "OriginalFilename", "PressBtn.exe\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x407, 1200
  END
END

IDD_MAIN DIALOGEX 0, 0, 161, 119
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU
CAPTION "Press Button"
FONT 8, "MS Sans Serif"
BEGIN
  CONTROL       "Select target (click and drag)", IDC_TEXTTARGET, "Static",SS_LEFTNOWORDWRAP | SS_NOPREFIX | SS_CENTERIMAGE | WS_GROUP, 7, 7, 118, 20
  ICON          IDI_DOWN, IDC_SELECT, 132, 7, 20, 20, SS_REALSIZEIMAGE
  CONTROL       "Klassenname", IDC_TEXTCLASS, "Static", SS_LEFTNOWORDWRAP | SS_NOPREFIX | SS_CENTERIMAGE | WS_GROUP, 7, 30, 50, 12
  CONTROL       "", IDC_CLASS, "Static", SS_LEFTNOWORDWRAP | SS_NOPREFIX | SS_CENTERIMAGE | SS_SUNKEN | WS_GROUP, 60, 30, 94, 12
  CONTROL       "Fensterhandle", IDC_TEXTHANDLE, "Static", SS_LEFTNOWORDWRAP | SS_NOPREFIX | SS_CENTERIMAGE | WS_GROUP, 7, 47, 50, 12
  CONTROL       "", IDC_HANDLE, "Static", SS_LEFTNOWORDWRAP | SS_NOPREFIX | SS_CENTERIMAGE | SS_SUNKEN | WS_GROUP, 60, 47, 94, 12
  EDITTEXT      IDC_DAY, 32, 65, 14, 12, ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER, WS_EX_STATICEDGE
  EDITTEXT      IDC_MONTH, 46, 65, 14, 12, ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER, WS_EX_STATICEDGE
  EDITTEXT      IDC_YEAR, 60, 65, 28, 12, ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER, WS_EX_STATICEDGE
  EDITTEXT      IDC_HOUR, 112, 65, 14, 12, ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER, WS_EX_STATICEDGE
  EDITTEXT      IDC_MINUTE, 126, 65, 14, 12, ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER, WS_EX_STATICEDGE
  EDITTEXT      IDC_SECOND, 140, 65, 14, 12, ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER | NOT WS_BORDER, WS_EX_STATICEDGE
  CONTROL       "Date", IDC_TEXTDATE, "Static", SS_LEFTNOWORDWRAP | SS_NOPREFIX | SS_CENTERIMAGE | WS_GROUP, 7, 65, 23, 12
  CONTROL       "Time", IDC_TEXTTIME, "Static", SS_LEFTNOWORDWRAP | SS_NOPREFIX | SS_CENTERIMAGE | WS_GROUP, 96, 65, 15, 12
  CONTROL       "Close target", IDC_CLOSETARGET, "Button", BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP, 8, 82, 62, 10
  CONTROL       "Then finish", IDC_CLOSESELF, "Button", BS_AUTOCHECKBOX | BS_LEFTTEXT | BS_FLAT | WS_TABSTOP, 82, 82, 71, 10
  PUSHBUTTON    "Activate", IDC_START, 7, 98, 50, 15, 0, WS_EX_STATICEDGE
  PUSHBUTTON    "Stop", IDC_STOP, 56, 98, 50, 15, WS_DISABLED, WS_EX_STATICEDGE
  DEFPUSHBUTTON "Close", IDC_EXIT, 114, 98, 40, 15, 0, WS_EX_STATICEDGE
END

STRINGTABLE DISCARDABLE 
BEGIN
  IDS_INVALIDHANDLE "Ungültiges Fensterhandle!"
  IDS_TIMEEXPIRED   "Zeitpunkt ist bereits abgelaufen!"
  IDS_INVALIDTIME   "Ungültige Zeitangabe!"
  IDS_WNDNOWINVALID "Das Fensterhandle ist nicht (mehr) gültig!"
END
