#define DS_SHELLFONT		(DS_SETFONT | DS_FIXEDSYS)
#define BS_COMMANDLINK		0x0000000E
#define BS_DEFCOMMANDLINK	0x0000000F


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

200 DIALOGEX DISCARDABLE  0, 0, 317, 163
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION | DS_SHELLFONT
CAPTION "Select the Opera version"
FONT 8, "MS Shell Dlg"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    LTEXT           "This wizard converts your Internet Explorer favorites for the Opera browser. Please select the Opera version, you are using.",
                    IDC_STATIC,0,0,300,24
    CONTROL         "Opera 3",210,"Button",BS_COMMANDLINK | WS_CHILD,0,30,300,25
    CONTROL         "Opera 3.5x",211,"Button",BS_COMMANDLINK | WS_CHILD,0,57,300,25
    CONTROL         "Opera 5",212,"Button",BS_COMMANDLINK | WS_CHILD,0,85,300,25
    CONTROL         "Opera 6 and 7",213,"Button",BS_DEFCOMMANDLINK | WS_CHILD,0,112,300,25
END

300 DIALOGEX DISCARDABLE  0, 0, 317, 163
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION | DS_SHELLFONT
CAPTION "Select the Destination folder"
FONT 8, "MS Shell Dlg"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    LTEXT           "Please select the destination folder for the file with the converted favorites. The filename depends on your Opera selection and cannot be changed.",
                    IDC_STATIC,0,0,300,30
    EDITTEXT        310,0,40,270,14,ES_AUTOHSCROLL | WS_DISABLED
    PUSHBUTTON      "...",320,286,40,14,14
END

400 DIALOGEX DISCARDABLE  0, 0, 317, 163
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION | DS_SHELLFONT
CAPTION "Start Conversion"
FONT 8, "MS Shell Dlg"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    LTEXT           "Please wait while your IE favorites are being converted. This could take some time depending on the amount of favorites. Click Convert to start the task.",
                    IDC_STATIC,0,0,300,30
    LTEXT           "",420,0,54,300,12
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
	2000		"IE Favorites Conversion Wizard"
	2001		"This application requires Microsoft Windows Vista."
	2002		"Next"
	2003		"Convert"
	2004		"Select Destination folder"
END