#define MANIFEST 24
#define IDD_MAIN_DLG 100
#define IDC_BTN_CLOSE 105
#define IDC_BTN_ABOUT 104
#define IDC_STC_BANNER 101
#define IDC_STC1 102
#define IDC_SBR1 103
#define IDC_BTN_ADDFILES 106
#define IDC_BTN_DELFILE 107
#define IDC_LST1 108

IDD_MAIN_DLG DIALOGEX 6,5,242,196
CAPTION "IDD_DLG"
FONT 8,"Tahoma",0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SETFONT
BEGIN
  CONTROL "&OK",IDC_BTN_CLOSE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,178,162,58,15
  CONTROL "&Info",IDC_BTN_ABOUT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,202,7,28,13
  CONTROL "IDC_STC",IDC_STC_BANNER,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,2,1,190,59
  CONTROL "",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ETCHEDHORZ,34,68,119,1
  CONTROL "",IDC_SBR1,"msctls_statusbar32",WS_CHILDWINDOW|WS_VISIBLE|CCS_BOTTOM,0,185,244,12
  CONTROL "&Add file",IDC_BTN_ADDFILES,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,8,162,58,15
  CONTROL "&Remove file",IDC_BTN_DELFILE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,72,162,58,15
  CONTROL "",IDC_LST1,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,6,53,232,102,WS_EX_CLIENTEDGE
END

1 MANIFEST "requireadminmanifest.xml"

1 ICON DISCARDABLE "lock_delete.ico"

IDR_VERSION VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "08090000"
    BEGIN
      VALUE "FileVersion", "1, 0, 0, 0\0"
      VALUE "FileDescription", "Deletes locked files on reboot\0"
      VALUE "LegalCopyright", "Your name\0"
      VALUE "ProductName", "DelFileOnReboot\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0809, 0x0000
  END
END



