#define DS_SHELLFONT 0
#define MANIFEST 24
#define IDD_MAIN_DLG 100
#define IDC_BTN_ABOUT 103
#define IDC_STC_BANNER 101
#define IDC_STC1 102
#define IDC_SBR1 199
#define IDC_GRP1 198
#define IDC_LSV1 104
#define IDC_GRP2 198
#define IDC_EDT1 105
#define IDC_BTN1 106
#define IDC_BTN2 107
#define IDC_PGB1 108
IDD_MAIN_DLG DIALOGEX 6,5,336,241
CAPTION "IDD_DLG"
FONT 8,"Tahoma"
STYLE 0x10C80840
EXSTYLE 0x00000000
BEGIN
  CONTROL "&About",IDC_BTN_ABOUT,"Button",0x50010000,202,7,28,13,0x00000000
  CONTROL "IDC_STC",IDC_STC_BANNER,"Static",0x50020201,2,1,190,41,0x00000000
  CONTROL "",IDC_STC1,"Static",0x50001000,32,44,120,2,0x00000000
  CONTROL "",IDC_SBR1,"msctls_statusbar32",0x50000103,0,220,336,12,0x00000000
  CONTROL "Attached files:",IDC_GRP1,"Button",0x50000007,6,51,326,118,0x00000000
  CONTROL "",IDC_LSV1,"SysListView32",0x50010041,14,60,312,102,0x00000200
  CONTROL "Extract files:",IDC_GRP2,"Button",0x50000007,6,175,326,35,0x00000000
  CONTROL "",IDC_EDT1,"Edit",0x50010080,14,188,166,13,0x00000200
  CONTROL "&Select directory",IDC_BTN1,"Button",0x50010000,186,186,62,17,0x00000000
  CONTROL "&Extract files",IDC_BTN2,"Button",0x50010000,256,186,62,17,0x00000000
  CONTROL "",IDC_PGB1,"msctls_progress32",0x50000000,6,214,326,9,0x00000000
END
1 ICON DISCARDABLE "SFX.ico"
1 MANIFEST DISCARDABLE "manifest.xml"
IDR_VERSION VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileVersion", "1, 0, 0, 0\0"
      VALUE "FileDescription", "SFXBuilder stub file\0"
      VALUE "LegalCopyright", "Your Name\0"
      VALUE "ProductName", "SFX-Archive\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

