#define MANIFEST 24
#define IDD_MAIN_DLG 100
#define IDC_BTN_CANCEL 106
#define IDC_TRV 105
#define IDC_BTN_ABOUT 103
#define IDC_STC_BANNER 101
#define IDC_STC_DEVIDER 102
#define IDC_SBR 114
#define IDC_STC_HINT 104
#define IDC_BTN_SHUTDOWN 116
#define IDC_ANI_SEARCH 113
#define IDC_BTN_SELMACHINE 110
#define IDC_BTN_SELDOMAIN 111
#define ID_ACCEL_CLOSE 4001
#define IDD_DLG_USERINFO 200
#define IDC_STC8 210
#define IDC_STC2 208
#define IDC_EDT_USER 201
#define IDD_DLG_MACHINEINFO 300
#define IDC_STC9 301
#define IDC_STC11 302
#define IDC_EDT_MACHINE 303
#define IDD_DLG_SHUTDOWN 400
#define IDC_STC17 401
#define IDC_STC_MACHINE 402
#define IDC_STC19 403
#define IDC_EDT_LOGIN 404
#define IDC_STC20 405
#define IDC_EDT_PW 406
#define IDC_STC21 407
#define IDC_EDT_MSG 408
#define IDC_RBN_SHUTDOWN 409
#define IDC_RBN_REBOOT 410
#define IDC_CHK_FORCE 411
#define IDC_EDT_TIMEOUT 416
#define IDC_BTN_OK 412
#define IDC_BTN_CANCEL1 413
#define IDC_STC22 414
#define IDC_STC23 415

IDD_MAIN_DLG DIALOGEX 6,5,290,263
CAPTION "IDD_DLG"
FONT 8,"Tahoma",0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER|DS_SETFONT
BEGIN
  CONTROL "&Cancel",IDC_BTN_CANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,126,230,51,16
  CONTROL "",IDC_TRV,"SysTreeView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TVS_SHOWSELALWAYS|TVS_LINESATROOT|TVS_HASLINES|TVS_HASBUTTONS,2,51,124,120,WS_EX_CLIENTEDGE
  CONTROL "&About",IDC_BTN_ABOUT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,202,7,28,13
  CONTROL "IDC_STC",IDC_STC_BANNER,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,2,1,190,43
  CONTROL "",IDC_STC_DEVIDER,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SUNKEN,2,46,120,2
  CONTROL "",IDC_SBR,"msctls_statusbar32",WS_CHILDWINDOW|WS_VISIBLE|CCS_BOTTOM,0,196,242,14
  CONTROL "Select item for details.",IDC_STC_HINT,"Static",NOT WS_VISIBLE|WS_CHILDWINDOW,146,96,78,9
  CONTROL "Sh&utdown...",IDC_BTN_SHUTDOWN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,208,188,58,15
  CONTROL "#5",IDC_ANI_SEARCH,"SysAnimate32",WS_CHILDWINDOW|WS_VISIBLE|ACS_TRANSPARENT,162,87,15,15
  CONTROL "Machine",IDC_BTN_SELMACHINE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,5,231,48,15
  CONTROL "Domain",IDC_BTN_SELDOMAIN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,65,231,51,15
END

1 ICON DISCARDABLE "servers.ico"
2 ICON DISCARDABLE "client.ico"
3 ICON DISCARDABLE "user.ico"
4 ICON DISCARDABLE "group.ico"
5 AVI DISCARDABLE "FINDCOMP.AVI"

1 MANIFEST "manifest.xml"

IDR_VERSION VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "FileVersion", "1, 0, 0, 0\0"
      VALUE "FileDescription", "Lists remotely or locally logged on users on NT machines.\0"
      VALUE "LegalCopyright", "Your Name\0"
      VALUE "ProductName", "LoggedOn\0"
      VALUE "OriginalFilename", "LoggedOn.exe\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x0000
  END
END

IDR_ACCEL ACCELERATORS
BEGIN
  35,ID_ACCEL_CLOSE,VIRTKEY,CONTROL,NOINVERT
END

IDD_DLG_USERINFO DIALOGEX 6,5,105,135
CAPTION "IDD_DLG"
FONT 8,"Tahoma",0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL
BEGIN
  CONTROL "User information:",IDC_STC8,"Static",WS_CHILDWINDOW|WS_VISIBLE,2,1,98,9
  CONTROL "",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SUNKEN|SS_ETCHEDHORZ,0,14,104,2
  CONTROL "",IDC_EDT_USER,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_MULTILINE,3,21,96,108,WS_EX_STATICEDGE
END

IDD_DLG_MACHINEINFO DIALOGEX 6,5,104,135
CAPTION "IDD_DLG"
FONT 8,"Tahoma",0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL
BEGIN
  CONTROL "Machine information:",IDC_STC9,"Static",WS_CHILDWINDOW|WS_VISIBLE,2,1,94,9
  CONTROL "",IDC_STC11,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ETCHEDHORZ,0,14,104,2
  CONTROL "",IDC_EDT_MACHINE,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_MULTILINE,3,21,96,108,WS_EX_STATICEDGE
END

IDD_DLG_SHUTDOWN DIALOGEX 6,5,182,172
CAPTION "Shutdown"
FONT 8,"Tahoma",0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_SETFONT
EXSTYLE WS_EX_TOOLWINDOW
BEGIN
  CONTROL "Machine:",IDC_STC17,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,4,5,36,13
  CONTROL "",IDC_STC_MACHINE,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,44,5,130,13,WS_EX_CLIENTEDGE
  CONTROL "Login:",IDC_STC19,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,4,27,36,13
  CONTROL "",IDC_EDT_LOGIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,44,27,130,13,WS_EX_CLIENTEDGE
  CONTROL "Pasword:",IDC_STC20,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,4,46,36,13
  CONTROL "",IDC_EDT_PW,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_PASSWORD,44,46,130,13,WS_EX_CLIENTEDGE
  CONTROL "Message:",IDC_STC21,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,4,68,36,13
  CONTROL "",IDC_EDT_MSG,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOVSCROLL|ES_MULTILINE,44,68,130,39,WS_EX_CLIENTEDGE
  CONTROL "&Shutdown",IDC_RBN_SHUTDOWN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,44,114,46,13
  CONTROL "&Reboot",IDC_RBN_REBOOT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,92,114,46,13
  CONTROL "&Force",IDC_CHK_FORCE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,140,114,36,13
  CONTROL "",IDC_EDT_TIMEOUT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_NUMBER,44,132,46,13,WS_EX_CLIENTEDGE
  CONTROL "&OK",IDC_BTN_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,44,153,58,15
  CONTROL "&Cancel",IDC_BTN_CANCEL1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,118,153,58,15
  CONTROL "Options:",IDC_STC22,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,4,114,36,13
  CONTROL "Timeout:",IDC_STC23,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,4,132,36,13
END







