#define MANIFEST 24
#define IDD_MAIN_DLG 100
#define IDC_EDT1 104
#define IDC_BTN1 105
#define IDC_EDT2 106
#define IDC_EDT3 107
#define IDC_BTN2 108
#define IDC_STC_BANNER 101
#define IDC_BTN_ABOUT 103
#define IDC_STC1 102
#define IDC_STC2 107
IDD_MAIN_DLG DIALOGEX 6,5,228,147
CAPTION "IDD_DLG"
FONT 8,"Tahoma"
STYLE 0x10C80800
EXSTYLE 0x00000000
BEGIN
  CONTROL "",IDC_EDT1,"Edit",0x50010008,4,51,156,12,0x00000200
  CONTROL "&Computer",IDC_BTN1,"Button",0x50010000,166,51,58,13,0x00000000
  CONTROL "",IDC_EDT2,"Edit",0x50010044,4,70,220,52,0x00000200
  CONTROL "",IDC_EDT3,"Edit",0x50010000,38,129,120,12,0x00000200
  CONTROL "&Send",IDC_BTN2,"Button",0x50010001,166,129,58,13,0x00000000
  CONTROL "IDC_STC",IDC_STC_BANNER,"Static",0x50020201,2,0,190,43,0x00000000
  CONTROL "&About",IDC_BTN_ABOUT,"Button",0x50010000,196,3,28,13,0x00000000
  CONTROL "",IDC_STC1,"Static",0x50001000,2,44,120,2,0x00000000
  CONTROL "Sender:",IDC_STC2,"Static",0x50000000,8,131,28,9,0x00000000
END
1 ICON DISCARDABLE "net.ico"
1 MANIFEST DISCARDABLE "manifest.xml"
IDR_VERSION VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileVersion", "1, 0, 0, 0\0"
      VALUE "FileDescription", "Net send GUI\0"
      VALUE "LegalCopyright", "Your Name\0"
      VALUE "ProductName", "Net Send\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END









