#define DS_SHELLFONT 0
#define MANIFEST 24
#define IDD_MAIN_DLG 100
#define IDC_STC1 104
#define IDC_STC4 105
#define IDC_STC2 102
#define IDC_BTN1 101
#define IDC_EDT1 106
#define IDC_CHK1 103
IDD_MAIN_DLG DIALOGEX 6,5,176,60
CAPTION "IDD_DLG"
FONT 8,"Tahoma"
STYLE 0x10CC0840
EXSTYLE 0x00000000
BEGIN
  CONTROL "Number of threads",IDC_STC1,"Static",0x50000200,4,46,52,9,0x00000000
  CONTROL "",IDC_STC4,"Static",0x50001200,60,44,26,11,0x00000000
  CONTROL "Requirements:",IDC_STC2,"Static",0x50000000,4,11,52,9,0x00000000
  CONTROL "&Start",IDC_BTN1,"Button",0x50010000,92,7,78,17,0x00000000
  CONTROL "10",IDC_EDT1,"Edit",0x50012000,60,9,28,13,0x00000200
  CONTROL "WT_EXECUTELONGFUNCTION",IDC_CHK1,"Button",0x50010003,4,27,110,11,0x00000000
END
1 MANIFEST DISCARDABLE "manifest.xml"
IDR_VERSION VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04070000"
    BEGIN
      VALUE "FileVersion", "1, 0, 0, 1\0"
      VALUE "FileDescription", "Fibre Demo\0"
      VALUE "LegalCopyright", "Your Name\0"
      VALUE "ProductName", "Thread Demo\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407, 0x0000
  END
END
