/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

1                       24      MOVEABLE PURE   "manifest.xml"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

100                     BITMAP  DISCARDABLE     "toolbar.bmp"
200			BITMAP	DISCARDABLE	"masked.bmp"