#define MANIFEST 24
#define IDD_MAIN_DLG 100
#define IDC_IPA1 106
#define IDC_IPA 107
#define IDC_CHK1 111
#define IDC_LSV1 104
#define IDC_BTN1 108
#define IDC_BTN2 109
#define IDC_BTN_ABOUT 103
#define IDC_STC_BANNER 101
#define IDC_STC_DEVIDER 102
#define IDC_SBR1 105
#define IDC_PGB1 110
#define IDR_VERSION 1
IDD_MAIN_DLG DIALOGEX 6,5,561,332
CAPTION "IDD_DLG"
FONT 8,"Tahoma"
STYLE 0x10CF0840
EXSTYLE 0x00000000
BEGIN
  CONTROL "",IDC_IPA1,"SysIPAddress32",0x50010000,6,53,92,11,0x00000000
  CONTROL "",IDC_IPA,"SysIPAddress32",0x50010000,108,53,92,11,0x00000000
  CONTROL "&Verbose",IDC_CHK1,"Button",0x50010003,212,55,62,9,0x00000000
  CONTROL "",IDC_LSV1,"SysListView32",0x50010001,2,70,368,139,0x00000200
  CONTROL "&Start",IDC_BTN1,"Button",0x50010000,244,212,58,13,0x00000000
  CONTROL "&Cancel",IDC_BTN2,"Button",0x58010000,310,212,58,13,0x00000000
  CONTROL "&Info",IDC_BTN_ABOUT,"Button",0x50010000,202,7,28,13,0x00000000
  CONTROL "IDC_STC",IDC_STC_BANNER,"Static",0x50000201,2,1,190,41,0x00000000
  CONTROL "",IDC_STC_DEVIDER,"Static",0x50001000,2,44,188,2,0x00000000
  CONTROL "",IDC_SBR1,"msctls_statusbar32",0x50000103,0,318,562,14,0x00000000
  CONTROL "",IDC_PGB1,"msctls_progress32",0x50000000,4,214,232,9,0x00000000
END
1 MANIFEST DISCARDABLE "manifest.xml"
1 ICON DISCARDABLE "netwotk_32_8.ICO"
2 ICON DISCARDABLE "netid24.ICO"
3 ICON DISCARDABLE "Clock.ico"
5 BITMAP DISCARDABLE "sortbmp.bmp"
4 ICON DISCARDABLE "ControlPanel.ico"
6 ICON DISCARDABLE "Run.ico"
7 ICON DISCARDABLE "shares.ICO"
8 ICON DISCARDABLE "StopLoad.ico"
IDR_VERSION VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040704B0"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
      VALUE "CompanyName", "CompanyName\0"
      VALUE "InternalName", "Ping\0"
      VALUE "LegalCopyright", "Copyright\0"
      VALUE "OriginalFilename", "Ping.exe\0"
      VALUE "ProductName", "Ping\0"
      VALUE "FileDescription", "Network pinging program\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407, 0x04B0
  END
END
