/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

100 DIALOG DISCARDABLE  0, 0, 132, 146
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "DragListbox"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         101,13,5,117,135,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
100                     ICON    DISCARDABLE     "window.ico"