#define MANIFEST 24
#define IDD_MAIN_DLG 100
#define IDC_RB_NAME 105
#define IDC_EDT_NAME 106
#define IDC_RB_IP 107
#define IDC_IP_ADR 108
#define IDC_BTN_GETMAC 110
#define IDC_BTN_COPY 111
#define IDC_BTN_ABOUT 104
#define IDC_STC_DEVIDER 102
#define IDC_STC_BANNER 101
#define IDC_SBR 103
#define IDC_EDT_MAC 109

IDD_MAIN_DLG DIALOGEX 6,5,153,168
CAPTION "IDD_DLG"
FONT 8,"Tahoma",0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "&Computername",IDC_RB_NAME,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,6,51,69,15
  CONTROL "",IDC_EDT_NAME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,18,66,129,12,WS_EX_CLIENTEDGE
  CONTROL "IP-&Adresse",IDC_RB_IP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,6,84,54,9
  CONTROL "",IDC_IP_ADR,"SysIPAddress32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,18,96,129,12
  CONTROL "&OK",IDC_BTN_GETMAC,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,18,135,58,15
  CONTROL "&Kopieren",IDC_BTN_COPY,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,90,135,58,15
  CONTROL "&Info",IDC_BTN_ABOUT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,123,12,28,13
  CONTROL "",IDC_STC_DEVIDER,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SUNKEN,33,48,120,2
  CONTROL "IDC_STC",IDC_STC_BANNER,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,2,1,136,44
  CONTROL "",IDC_SBR,"msctls_statusbar32",WS_CHILDWINDOW|WS_VISIBLE|CCS_BOTTOM,0,182,242,14
  CONTROL "",IDC_EDT_MAC,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY,18,117,129,12,WS_EX_STATICEDGE
END

1 ICON DISCARDABLE "MAC.ico"

1 MANIFEST "manifest.xml"

IDR_VERSION VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04070000"
    BEGIN
      VALUE "FileVersion", "1, 0, 0, 0\0"
      VALUE "FileDescription", "Determines the MAC address of a computer\0"
      VALUE "LegalCopyright", "Copyright\0"
      VALUE "ProductName", "GetMAC\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407, 0x0000
  END
END


