#define DS_SHELLFONT 0
#define MANIFEST 24
#define IDD_MAIN_DLG 100
#define IDC_EDT1 104
#define IDC_BTN1 105
#define IDC_BTN5 110
#define IDC_LSV1 106
#define IDC_EDT 107
#define IDC_BTN3 109
#define IDC_STC_BANNER 101
#define IDC_BTN_ABOUT 103
#define IDC_STC1 102
#define IDC_SBR1 191
#define IDC_GRP1 190
#define IDC_GRP2 192
#define IDC_BTN4 108
#define IDC_PGB1 111
IDD_MAIN_DLG DIALOGEX 6,5,324,258
CAPTION "IDD_DLG"
FONT 8,"Tahoma"
STYLE 0x10C80840
EXSTYLE 0x00000000
BEGIN
  CONTROL "",IDC_EDT1,"Edit",0x50010080,10,64,166,13,0x00000200
  CONTROL "&Select directory",IDC_BTN1,"Button",0x50010000,180,62,62,17,0x00000000
  CONTROL "&Get files",IDC_BTN5,"Button",0x50010000,250,62,62,17,0x00000000
  CONTROL "",IDC_LSV1,"SysListView32",0x50010041,10,83,302,98,0x00000200
  CONTROL "",IDC_EDT,"Edit",0x50010080,10,204,166,13,0x00000200
  CONTROL "&Build",IDC_BTN3,"Button",0x50010000,250,202,62,17,0x00000000
  CONTROL "IDC_STC",IDC_STC_BANNER,"Static",0x50020201,0,0,190,43,0x00000000
  CONTROL "&About",IDC_BTN_ABOUT,"Button",0x50010000,202,7,28,13,0x00000000
  CONTROL "",IDC_STC1,"Static",0x50001000,28,44,120,2,0x00000000
  CONTROL "",IDC_SBR1,"msctls_statusbar32",0x50000103,0,232,324,12,0x00000020
  CONTROL "Files:",IDC_GRP1,"Button",0x50000007,4,53,316,135,0x00000000
  CONTROL "Build SFX-archive:",IDC_GRP2,"Button",0x50000007,4,193,316,32,0x00000000
  CONTROL "&Save as",IDC_BTN4,"Button",0x50010000,182,202,62,17,0x00000000
  CONTROL "",IDC_PGB1,"msctls_progress32",0x50000000,4,232,316,9,0x00000000
END
1 ICON DISCARDABLE "Setup1.ico"
1 MANIFEST DISCARDABLE "manifest.xml"
IDR_VERSION VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileVersion", "1, 0, 0, 0\0"
      VALUE "FileDescription", "SFX-Archive builder\0"
      VALUE "LegalCopyright", "Your Name\0"
      VALUE "ProductName", "SFXBuilder\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

